.wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.thumbImage {
  height: 200px;
  width: 100%;
  object-fit: fill;
  border-radius: 2px;
}
.innerWrapper {
  background-color: white;
  padding: 30px;
  gap: 15px;
  display: flex;
  flex-direction: column;

  ul {
    padding: 0;
  }
  li {
    list-style: none;
  }
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 12px;

  li {
    border-bottom: 1px solid #ededed ;
    padding: 10px 0;
  }
}

.videoContainer {
  position: relative;
  object-fit: contain;
}

.playBtn {
  position: absolute;
  top: 50%; /* Move the button to the vertical center */
  left: 50%; /* Move the button to the horizontal center */
  transform: translate(-50%, -50%); /* Center the button */
  height: 50px;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Adjust the size of the play icon as needed */
.playBtn svg {
  width: 50px; /* Adjust the size of the icon */
  height: 100%; /* Maintain aspect ratio */
  fill: rgba($color: #4c4848, $alpha: 1);
}
